/*
Joseph P. Pasaoa
AddForm Component CSS | Todos a la Redux | React Redux Two Lab
*/


form {
  padding: 6px;
}

input[type="text"] {
  min-width: 200px;
  margin-right: 9px;
  margin-left: 3px;
  padding: 1px 4px;
  height: 1.5em;
  border-radius: 5px;
}

.error-msg {
  height: 1em;
  margin: 3px 9px 12px 9px;
  color: red;
}