/*
Joseph P. Pasaoa
App MAIN CSS | Todos a la Redux | React Redux Two Lab
*/


html, body, div#root, .App {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  padding: 6px;
  margin-bottom: 11px;
  font-size: 2.2em;
}

footer {
  margin-top: auto;
  padding: 6px 9px;
}
